@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;

}

h1,
h2 {
    font-family: "Roboto", sans-serif;
}

@layer utilities {
    .gradient-bg {
        background: linear-gradient(-45deg, #0a091a, #09061d, #03001a);
    }
}